In [1]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load
file_to_load = os.path.join(os.getcwd(), "Resources", "purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
## Find the number of unique screen-names, move it into a dataframe, and print
count = len(purchase_data["SN"].value_counts())
total_players_df = pd.DataFrame({"Total PLayers" : [count]})
total_players_df

   Total PLayers
0            576

In [3]:
## Find the number of unique items using the Item ID column
item_count = len(purchase_data["Item ID"].value_counts())

## Find the average price
avg_price = purchase_data["Price"].mean()

## Find the total number of purchases using the Purchase ID column
total_purchases = purchase_data["Purchase ID"].count()

## Sum the Price column to find Total Revenue
total_rev = purchase_data["Price"].sum()

## Move results to data frame
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items" : [item_count], 
                                       "Average Price" : [avg_price], 
                                       "Total Purchases" : [total_purchases], 
                                       "Total Revenue" : [total_rev]
                                      })

## Format the data frame and print
purchasing_formatted_df = purchasing_analysis_df.style.format({'Average Price':'${0:,.2f}', 
                                                    'Total Revenue' : '${0:,.2f}'})
purchasing_formatted_df

In [4]:
## Group the data according to gender for easier analysis
gender_info = purchase_data.groupby("Gender")

## Count the # of unique entires in screen-name column for total # of unique users of each gender
gender_count = gender_info.nunique()["SN"]

## Calculate the percentage of total users for each gender 
gender_percents = gender_count / count * 100

## Store in data frame, format, and print ------also, I assume the index name doesn't really matter so I'm going to leave it for clarity's sake
gender_analysis_df = pd.DataFrame({"Total Count" : gender_count, "Percentage of Players" : gender_percents})
gender_formatted_df = gender_analysis_df.style.format({'Percentage of Players':'{0:,.2f}%'})
gender_formatted_df

In [5]:
## Count the purchases of each gender by ID
gender_purchase_count = gender_info["Purchase ID"].count()

## Sum the Price column to get the total for each gender
gender_purchase_tot = gender_info["Price"].sum()

## Use to mean function to find the average purchase price per gender
gender_purchase_avg = gender_info["Price"].mean()

## Divide the Purchase totals by gender by the # of unique entires in screen-name column per gender to find total purchase average per person per gender
total_purchase_avg = gender_purchase_tot / gender_count

## Shove into data frame, format, and print
gender_purchase_df = pd.DataFrame({"Purchase Count" : gender_purchase_count, 
                                   "Average Purchase Price" : gender_purchase_avg, 
                                   "Total Purchase Value" : gender_purchase_tot, 
                                   "Avg Total Purchase per Person" : total_purchase_avg})
gender_purchase_formatted_df = gender_purchase_df.style.format({"Average Purchase Price" : '${0:,.2f}', 
                                                                "Total Purchase Value" : '${0:,.2f}', 
                                                                "Avg Total Purchase per Person" : '${0:,.2f}'})
gender_purchase_formatted_df

In [6]:
## Create bins and bin names
bins = [0,9,14,19,24,29,34,39, 50]
names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

## Create a bin column for easier grouping
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"],bins, labels=names)

## Group the data according to age in appropraite bin
age_df = purchase_data.groupby("Age Ranges")

## Count total for each bin by unique screen-name
total_age_count = age_df["SN"].nunique()

## Calc the percentage of total users for each bin total
age_percent = total_age_count / count * 100

## Shove into data frame, format, and print
age_demographics_df = pd.DataFrame({"Total Count" : total_age_count, "Percentage of Players" : age_percent})
age_demogr_formatted_df = age_demographics_df.style.format({"Percentage of Players" :'{0:,.2f}%'})
age_demogr_formatted_df

In [7]:
## Count the number of purchases per age group
number_of_purches_age = age_df["Purchase ID"].count()

## Sum up the prices
total_value_age = age_df["Price"].sum()

## Find the average purchase value
avg_purchace_val_age = total_value_age / number_of_purches_age

## Find the average total purchase per person per age group
tot_purchase_avg_age = total_value_age / total_age_count

## Shove into data frame, format data, and print
age_purchasing_analysis_df = pd.DataFrame({"Purchase Count" : number_of_purches_age, 
                                            "Average Purchase Price" : avg_purchace_val_age, 
                                            "Total Purchase Value" : total_value_age, 
                                            "Avg Total Purchase per Person" : tot_purchase_avg_age})
age_purchasing_fomratted_df = age_purchasing_analysis_df.style.format({"Average Purchase Price" : '${0:,.2f}', 
                                                                       "Total Purchase Value" : '${0:,.2f}', 
                                                                       "Avg Total Purchase per Person" : '${0:,.2f}'})
age_purchasing_fomratted_df

In [8]:
## Group by screen-name for easier analysis
sn_df = purchase_data.groupby("SN")

## count the number of purchases per spender using purchase ID column
number_of_purchases = sn_df["Purchase ID"].count()

## Use sum function to add price totals per SN
total_spent_sn = sn_df["Price"].sum()

## Find the average purchase total per person
avg_purchase_sn = total_spent_sn / number_of_purchases

## shove into data frame, format, and print
top_spenders_df = pd.DataFrame({"Purchase Count" : number_of_purchases, 
                                "Average Purchase Price" : avg_purchase_sn,
                                "Total Purchase Value" : total_spent_sn})
top_spenders_formatted_head_df = top_spenders_df.sort_values(by =["Total Purchase Value"], ascending=False).head(5)
top_spenders_formatted_df = top_spenders_formatted_head_df.style.format({"Average Purchase Price": '${0:,.2f}',
                                                          "Total Purchase Value" : '${0:,.2f}'})
top_spenders_formatted_df

In [9]:
## Group according to item Id and Item name
popular_df = purchase_data.groupby(["Item ID", "Item Name"])

## Count the number of purchases for each item
count_purchases = popular_df["Purchase ID"].count()

## Calcaulte the total purchase value for each item
total_purchase_value_pop = popular_df["Price"].sum()

## Put into a data frame, format, and print
most_popular_df = pd.DataFrame({"Purchase Count" : count_purchases,
                               "Item Price" : total_purchase_value_pop / count_purchases,
                               "Total Purchase Value" : total_purchase_value_pop})
most_popular_head_df = most_popular_df.sort_values(by =["Purchase Count"], ascending=False).head(5)
most_popular_formatted_df = most_popular_head_df.style.format({"Item Price" : '${0:,.2f}',
                                                              "Total Purchase Value" : '${0:,.2f}'})
most_popular_formatted_df

In [10]:
most_profitable_df = most_popular_df.sort_values(by =["Total Purchase Value"], ascending=False).head(5)
most_profitable_df
most_profitable_formatted_df = most_profitable_df.style.format({"Item Price" : '${0:,.2f}',
                                                              "Total Purchase Value" : '${0:,.2f}'})
most_profitable_formatted_df